
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');






body{
    font-family: Source Sans Pro;
    background-color: #eee;
    

    
    
}

header {
    font-family: Abril Fatface;
}




.newspaper-container h2, .newspaper-container h4{
    font-family: Roboto Slab;
}



.newspaper-container{
    background-color: white;
    width: 700px;
    margin: auto;
    border-radius: 2%;
    box-shadow: 2px 2px 4px #ddd;
    padding: 1em;
}

nav ul li a{
    color: #777;
}

main h5 {
    color: #dd3232;
}

header h1{
    text-align:center;
}

nav ul li{
    list-style: none;
}

nav ul li{
    margin-left: -20px;
    display: inline-block;
    padding: .9em;

}

nav{
    border: 2px solid #eee;
    border-radius: 2px;
    position: sticky;
    top:0;
    background-color:white;
}

.more-articles{
    margin-top: -70px;

}


.section-one, .section-two{
    width: 200px;
    display: inline-block;
    margin: 4em;
}


.section-one{
    margin-left: 25px;
}




